{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div>

            <h3><a href="">{{ post.title }}</a></h3>

            <p>{{ post.content|truncatewords:30 }}</p>

            <p>
                <button class="btn btn-default" onclick="location.href ={{ post.id }}">Read More</button>&nbsp;
                {{ post.published_date }}   |   Views <strong>{{ post.views }}</strong>   |   Tag <strong>{{ post.tag }}</strong>
           </p>
        </div>

        </div>
        <hr>
    {% endfor %}
{% endblock content %}
