{% extends "base.html" %}

{% block content %}
    <div>
        <div>
            {{ post.published_date }}
        </div>
        <h3><a href="">{{ post.title }}</a></h3>

        {% if post.image %}
            <img src="/media/{{ post.image }}">
        {% endif %}

        <p>{{ post.content|linebreaks }}</p>

        <p>
            <button class="btn btn-default" onclick="location.href='/blog'">Back to Blog</button>
            {{ post.published_date }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong>
        </p>

        {% load disqus_tags %}
        {% set_disqus_title post.title %}
        {% disqus_show_comments %}

    </div>
{% endblock content %}